<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:left">
 


<div>
  <ul>
      <ng-container *ngFor="let pais of paises; let i= index" [ngSwitch]= "pais.cercano">
        <li [ngStyle]="{color: (pais.activo) ? 'black' : 'green'}"
            [ngClass]="{numero_par: (i+1) % 2 !==0}" >{{pais.nombre}} -
            <span *ngSwitchCase=1>Cerca</span>
            <span *ngSwitchCase=2>Lejos</span>
            <span *ngSwitchCase=3>Muy lejos</span>
          
          </li>
      </ng-container>
  </ul>
</div>
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<!--<router-outlet></router-outlet>-->
